.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJpcphzRJslzwPTnCHUFjtYj87zkj7GcYQkzuod-Cn-Y9O09k5aA")
    center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-grid.center-items {
  justify-content: center;
}
